.navbar {
    position: fixed;
    overflow: hidden;
    z-index: 3;
    top: 0;
    background-color: #292929;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid $secondary-color;
    &__logo {
        img {
            width: 75px;
            height: 36px;
        }
    }
    &__link {
        width: auto;
        color: $main-color;
        font-size: 20px;
        a {
            margin: 20px;
        }
        a:hover {
            color: $secondary-color;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .navbar {
        position: absolute;
        display: flex;
        flex-direction: row;
        height: fit-content;
        padding: 10px 5px 10px 5px;
        &__logo {
            img {
                width: 75px;
                height: 36px;
            }
        }
        &__link {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            font-size: 16px;
            a {
                margin: auto;
            }
        }
    }
}
