@mixin center {
    display: flex;
    margin: auto;
}

@mixin cardSkill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 1px $secondary-color;
    border-radius: 20px;
    height: fit-content;
}
